* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: #404258;
  min-height: 100vh;
}

.dark-mode h1 {
  color: white;
}

.dark-mode .note {
  background-color: #fff0ce;
}

.dark-mode .new-note {
  background-color: #8ecddd;
}

.dark-mode .new-note textarea {
  background-color: #8ecddd;
}

.dark-mode input[type="text"] {
  background-color: #a9a9a9;
}

.dark-mode .delete-icon {
  color: #404258;
}
